.title{
    margin-top: 50px;
    font-size: 48px;
    width: 900px;
    display: flex;
    margin-left: -100;
    margin-right: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.article-image-page{
    margin-top: 30px;
    
    margin-left: 50px;
    margin-right: auto;
    width: 60%;
    border: 10px;  
    border-color: green;
    
}
.date{
    color: rgb(92, 92, 92);
 
    margin-right: 375px;
  
    margin-top: 20px;
   
}
.author{
    color: rgb(92, 92, 92);
    
   


    font: bolder;
    margin-top: 20px;
   
}
p{
    display: flex;
    justify-content: center;
    
}
