.title{
    margin-top: 50px;
    font-size: 48px;
    width: 900px;
    display: flex;
    margin-left: -100;
    margin-right: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.article-image-page {
    margin-top: 30px;
    margin: 0 auto; /* Center the image horizontally */
    height: 40vh; /* Set the height to 40% of the viewport */
    width: auto; /* Adjust the width proportionally */
    max-width: 50%; /* Ensure the width does not exceed 60% of the container */
    display: block; /* Treat the image as a block element */
    object-fit: contain; /* Preserve the aspect ratio of the image */
}


.date{
    color: rgb(92, 92, 92);
 
    margin-right: 375px;
  
    margin-top: 20px;
   
}
.author{
    color: rgb(92, 92, 92);
    
   


    font: bolder;
    margin-top: 20px;
   
}

p, p strong, p b, p em, p i{
    letter-spacing: 0.01em;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.articleContent {

    line-height: 1.6;
    color: #333; 
  }
