.title{
    font-size: 48px;
    width: 900px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
}
.article-image-page{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 60%;   
}
.date{
    margin-left: 540px;
    margin-bottom: 30px;
    font-style: bold;
}
.author{
    font-style: bolder;
    font-size: 18px;
}
p{
    display: flex;
    justify-content: center;
    
}
