@import url("https://fonts.googleapis.com/css2?family=George&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
  color-scheme: light;
}


.header{
  
  height: 86.89px;
  padding-bottom: 10px;
  padding-top: 10px;

}

@media (max-width: 768px) {
  .header {
    width: 250px;
    height: auto; 
  }
}

.header-container{
  display: flex;
  justify-content: center;
  
}

.line{
  width:100%;
  margin-bottom: 5px;
  
  border-bottom: 1.5px solid rgb(27, 26, 26);
  padding-bottom: 7px;

  margin-left: 0px;
  
}

.links-container{
  list-style-type: none;
  margin: 0;
  padding: 0;

  
}
.link-stuff{
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}
.links{
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
  
}

@media (max-width: 768px) {
.links{
  
  float: left;
  padding-left: 7px;
  padding-right: 7px;
  font-family: 'Georgia', sans-serif;
}
}


.page-link {
 
  font-weight: 100;
  font-size: 15px;
  display: block;
  color: rgb(141, 141, 141);
  text-align: center;
  padding: 0px 0px;
  text-decoration: none;
  position: relative; /* Add position relative to the link container */
  transition: color 0.3s ease-in-out; /* Add transition for text color */


}

.page-link::after {
  content: "";
  display: block;
  width: 0; /* Set initial width to 0 */
  height: 2px; /* Set the desired underline thickness */
  background-color: transparent; /* Initial color is transparent */
  position: absolute;
  bottom: 0;
  left: 50%; /* Start the underline from the center */
  transform: translateX(-50%); /* Center the underline */
  
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Add transitions for width and background-color */
}

.page-link:hover {
  color: rgb(255, 64, 0); /* Change the text color to orange on hover */
}

.page-link:hover::after {
  width: 100%; /* Expand the underline to 100% on hover */
  background-color: rgb(248, 190, 139); /* Change the underline color to orange on hover */
}

.bg-hero-pattern{
  height: 100%;
  background-repeat: repeat;
  background-color: #fefdff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23f1f1f1' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");}

/* Style for the container that holds the article card */
.article-card-container {
  width:  40%; /* 3/5 of the width */
  margin-left: 20%;
 
  margin-top: 15px; /* Remove any default margin */
  box-shadow: #555;
  display: flex; /* Add flex display to center vertically */
  flex-direction: column; /* Stack child elements vertically */
  align-items: center; /* Center horizontally */
  transition: 0.3s; /* Add transition for width change */

  
}



/* Style for the article container */
.article-container {
  width: 1200px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  /* Optional: To align items vertically in the center */
  align-items: center;
  transition: .3s;
  /* Remove 'flex: 1' to prevent it from taking up remaining space */
  /* Add any additional styles you want for the article container */
}

/* Style for the article title */
.article-title {
  
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  transition: .3s;
}
.article-image{
  width: 700px;
}

.article-author {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}


.article-content {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 20px;
}


.article-description {
  font-size: 0.9rem;
  color: #5f5f5f;
  
}
/* Style for the article container with hover effect */
.article-container:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.18);
  scale: 1.03;
}

/* Style for the article title with hover effect */
.article-container:hover .article-title {
  color: rgb(113, 59, 15);
  
}

/* Rest of your CSS remains the same */

/* Apply the same styles to the mini-article containers */
.mini-article-container:hover {
  box-shadow: 3px 10px 8px rgba(0, 0, 0, 0.18);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.18);
  scale: 1.03;
}

.mini-article-container:hover .article-title {
  color: rgb(113, 59, 15);
}


@media (max-width: 768px) {
  .links{
    
    float: left;
    padding-left: 7px;
    padding-right: 7px;
    
  }
  .article-card-container{
    width: 80%;
    margin-left: 50%;
  }
  .article-title{
    font-size: medium;
  }
}

.article-date{

  font-size: 0.8rem;
  color: #777;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 2px;
}
.mini-container{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding-top: 50px;
  overflow: hidden;
  width: 100%;
  

}
.mini-article-image {

  display: flex;
  align-items: center;
  margin-left: auto; /* Center horizontally using margin-left */
  margin-right: auto; /* Center horizontally using margin-right */
  width: 100%; /* Adjust the width as needed */
}

.mini-article-container {
  width: 80%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.1);
  
  transition: .3s;
  /* Remove 'flex: 1' to prevent it from taking up remaining space */
  /* Add any additional styles you want for the article container */
}
#mini{
  margin-left: 15px;
}
#all-link{
  font-size: 18px;
  text-align: left;
}