@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", "Helvetica Neue", "Arial";
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: light;
}

.header {
  height: 86.89px;
  padding-bottom: 10px;
  padding-top: 10px;
}

@media (max-width: 768px) {
  .header {
    width: 250px;
    height: auto;
  }
}

.header-container {
  display: flex;
  justify-content: center;
}

.line {
  width: 100%;
  margin-bottom: 5px;
  border-bottom: 1.7px solid rgba(27, 26, 26, 0.157);
  padding-bottom: 7px;
  margin-left: 0px;
}

.links-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link-stuff {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.links {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 768px) {
  .links {
    float: left;
    padding-left: 7px;
    padding-right: 7px;
    font-family: 'Georgia', sans-serif;
  }
}

.page-link {
  font-weight: 300;
  font-size: 15px;
  display: block;
  color: rgb(141, 141, 141);
  text-align: center;
  padding: 0px 0px;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease-in-out;

}

.page-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.page-link:hover {
  color: rgb(255, 64, 0);
}

.page-link:hover::after {
  width: 100%;
  background-color: rgb(248, 190, 139);
}

@keyframes slideInFromLeft {
  0% {
    scale: 1.2;
  }
  75% {
    scale: 1;
  }
}

.bg-hero-pattern {
  background-color: #fcfcfc;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4.5' height='4.5' viewBox='0 0 4 4'%3E%3Cpath fill='%23cfcfcf' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  height: 175vh;
}

/* Style for the container that holds the article card */
.article-card-container {
  width: 30%;
  margin-left: 21%;
  margin-top: 0px;
  box-shadow: #555;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.table-container {
  flex: 1;
  margin-left: 20px;
}

.mini-article-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  
}

/* Style for the article container */
.article-container {
  flex: 1;
  width: 1050px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 25px;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  margin-left: 35px;
  align-items: center;
  transition: .3s;

}

/* Style for the article title */
.article-title {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  transition: .3s;
}

.article-image {
  width: 2400px;
  margin-left: 10px;
}

.article-author {
  text-decoration: none;
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}

.article-content {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 20px;
  text-decoration: none;
}

.article-description {
  text-decoration: none;
  font-size: 0.9rem;
  color: #5f5f5f;
  margin-top: 6px;
}

/* Style for the article container with hover effect */
.article-container:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.18);
  scale: 1.03;
}

/* Style for the article title with hover effect */
.article-container:hover .article-title {
  color: rgb(197, 101, 23);
}

/* Rest of your CSS remains the same */

/* Apply the same styles to the mini-article containers */
.mini-article-container:hover {
  box-shadow: 3px 10px 8px rgba(0, 0, 0, 0.18);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.18);
  scale: 1.03;
}

.mini-article-container:hover .article-title {
  color: rgb(197, 101, 23);
}

@media (max-width: 768px) {
  .links {
    float: left;
    padding-left: 7px;
    padding-right: 7px;
  }
  .article-card-container {
    width: 80%;
  }
  .article-title {
    font-size: medium;
  }
}

.article-date {
  text-decoration: none;
  font-size: 0.8rem;
  color: #777;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 2px;
}

.mini-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  margin-left: 23px;
  padding-top: 40px;
  width: 1060px;
  border: #555;
  border: 3px;
  margin-bottom: 30px;
  height: auto;
}

.mini-article-image {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.mini-article-container {
  width: 97%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 12px;
  margin-right: 0px;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.1);
  height: auto;
  transition: .3s;
}

#mini {
  margin-left: 15px;
}

#all-link {
  font-size: 18px;
  text-align: left;
}

.buttoncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.allstories {
  text-align: center;
  margin-top: 0;
  display: inline-block;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-left: 10px;
  background-color: #7d5235;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.allstories:hover {
  background-color: #593f2d;
  scale: 1.1;
}

.more-stories {
  margin-left: 50px;
  width: 1050px;
}

.font-medium {
  transition: .3s;
}

.font-medium:hover {
  color: rgb(255, 115, 0);
  scale: 1.02;
}

/* Style for the Google Calendar container */
.calendar-embed {
  width: 450px;
  height: 600px;
  
}
.google-calendar-container{
  width: 450px;
  margin-left: 1370px;
  margin-top: -830px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.calendar {
  display: inline-block;
  margin-left: 10px;
  flex-shrink: 0;
}
.title-header{
  margin-bottom: 100px;
}
.features{
  margin-left: 74%;
  width: 24%;
  margin-top: -1337px;
  position:fixed;

}
.fhead{
  font-weight: bold;
  font-size: 32px;
  
  text-align: center;
}
