@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
  width: 600px;
  
}
.header-container{
  display: flex;
  justify-content: center;
  
}
.line{
  width:100%;
  padding: 10px;
  border-bottom: 2px solid black;
}
.links{
  text-decoration: none;
}